h1 {
    text-align: center;
}
#one {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: red;
}
#two {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    margin: 100px auto;
    background-color: blue;
}
#three {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 100px auto;
    background-color: white;
}
table {
    margin: auto;
}
td {
    height: 100px;
    width: 100px;
}

.first {
    border-top: 3px solid black;
    background-color: red;
}

.fifth {
    border-bottom: 3px solid black;
    background-color: red;
}

.second {
    border-top: 3px solid black;
}

.fourth {
    border-bottom: 3px solid black;
}

#left {
    border-left: 3px solid black;
    background-color: blue;
}
#right {
    border-right: 3px solid black;
    background-color: blue;
}
#center {
    border: 3px solid black;
}
#mostleft {
    border-left: 3px solid black;
    background-color: red;
}
#mostright {
    border-right: 3px solid black;
    background-color: red;
}

tr:nth-of-type(2) td:nth-of-type(3) {
    background-color: blue;
}
tr:nth-of-type(4) td:nth-of-type(3) {
    background-color: blue;
}