h1 {
    text-align: center;
}
#one {
    border: 3px solid black;
    width: 500px;
    height: 500px;
    margin: auto;
}
#two {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    margin: 100px auto;
}
#three {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    margin: 100px auto;
}
table {
    color: black;
}
